.giohang{
  color: black;
}
.dangnhap{
  color: black;
}
.name{
  font-size: 20px;
  background: #ff2759;
  margin: 0px;
  color: darkgreen;
  font-weight: bold;
}
.root>li{
    list-style: none;
    float:left;
    position: relative;
    display: block;
    
}
.root>li>a{
    text-decoration: none;
    color: black ;
    padding: 0px 15px 0px 15px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    
}

.menu_web{
    width: 100%; height: 100px;
    min-height: 50px;
    background-color: gray;
    margin: 0px auto;
    position: fixed; 
    top :0;
    left: 0;
    right: 0;
    z-index: 99;
}
.root>li>a:hover{
    background-color: yellowgreen;
    color: red;
    transform: ease-in 0.30s;
    
}
.submenu{
    width: 200px;
    display: none;
    text-align: left;
    position: absolute;
    min-height: 80px;
    background-color: #fff;

}
.submenu li{
    list-style: none;
    position: relative;
}
.submenu li a{
    text-decoration: none;
    color:black;
    display: block;
    line-height: 40px;
    text-indent: 12px;
    text-transform: none; 
    text-align: left;
}
.root li:hover .submenu{
    display: block;
    color:  white;
    transform: ease in 40s;
}
.submenu li a:hover{
    background-color: gold;
    color: red;
    transform: ease in 30s;
}
.snip1520 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    background: #700877;
    background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  }
  
  .snip1520 img,
  .snip1520:before,
  .snip1520:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .snip1520 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  
  .snip1520:before,
  .snip1520:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .snip1520:before {
    width: 60px;
    height: 1px;
    left: 0;
  }
  
  .snip1520:after {
    height: 60px;
    width: 1px;
    top: 100%;
  }
  
  .snip1520 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1520:hover img,
  .snip1520.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  
  .snip1520:hover:before,
  .snip1520.hover:before,
  .snip1520:hover:after,
  .snip1520.hover:after {
    opacity: 1;
    top: 50%;
    left: 50%;
  }

